section {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.articles > article {
  padding: 20px;
  background-color: #f0f0f0;
  border: 3px solid #3949ab;
  border-radius: 20px;
}

img {
  border-radius: 20px;
}
