*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

section{
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 0 40px;
}

/*sección sobre mi*/
.cards {
  max-width: 700px;
  margin: 40px auto;
  padding:40px 40px;
  text-align: justify;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Título */
.cards h2 {
  text-align: center;
  color: #3949ab;
}

/* Párrafos */
.cards p {
  line-height: 1.6;
  margin-bottom: 15px;
}

/* Imagen */
.cards img {
  display: block;
  margin: 20px auto;
  border-radius: 10px;
}
.cards img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

/*.gallery li:hover {
  transform: scale(1.02);
}
.gallery li {
  transition: transform 0.3s ease;
}*/

