
/*modificacion de jASMINE*/

/*.about{
    /*padding: 40px;/
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}*/
.about{
    margin: 0 auto;
    display: flex;
    flex-direction: column; 
    align-items: center;   
    justify-content: center;
}


img{
    margin: 0 auto;
    display: block;
 
}

a{
    text-decoration: none;
    font-size: 22px;
}

figure{
    background-color: #a9c8e0;
    padding: 10px;
    border-radius: 12px; /* El borde radio */
    width: 350px;
    justify-content: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5); /* Dar sombra en la carta */
}

h4{
    align-items: center;
}

.ciudades{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.meme{
    border-radius: 25%;
}