* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
section {
    background: rgb(240, 212, 244);
    padding: 40px;
}
h2 {
    text-align: center;
    color: rgb(31, 11, 112);
    font-size: 40px;
}
.favorites-list {
    font-size: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:rgb(31, 11, 112);
    list-style: none; 
}
.parrafo2 {
    max-width: 800px;
    margin: 30px auto;
    padding: 25px;
    background: linear-gradient(135deg, #f3e5f5, #d19ddb);
    border-radius: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    line-height: 1.8;
    color: rgb(31, 11, 112);
}

.imagen {
    display: block;
    margin: 25px auto;
    width: 30%;
    border-radius: 15px;
}
