* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
section {
    background: rgb(240, 212, 244);
    padding: 40px;
}
h2 {
    text-align: center;
    color: rgb(31, 11, 112);
    font-size: 40px;
}
h3 {
    
    text-align: center;
    color: rgb(44, 18, 146);
    padding: 40px;
    font-size: 25px;
}
.contenedor {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px auto;
    padding: 25px;
    line-height: 1.8;
}   

.seccion{ 
    width: 200%;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 20px;
    color: #202088;
    border-radius: 10%;
    
}

#parrajo1, #parrajo2, #parrajo3 {
    margin: 10px;
    padding: 0 50px;
    text-align: justify;
}

#parrajo1 {
    background: linear-gradient(135deg, #cb95d3, #c98ad4);
}
#parrajo2 { 
    background: linear-gradient(135deg, #ab6fb4, #b299b7);
}
#parrajo3 {
    background: linear-gradient(135deg, #cba5d1, #b887c2);
}
.imagen {
    display: block;
    margin: 50px auto;
    width: 70%;
    border-radius: 90px;
}
