
/* Cabecera */
header {
  background-color: #1147fa; /* Lila suave y elegante */
  color: white; /* Texto en blanco */
  text-align: center; /* Centrar texto */
  padding: 20px;
}
header h1 {
  margin: 0; /* Cambia el tamaño */
  font-size: 20px
}

header p {
  margin-top: 10px;
  font-size: 1.2em;
}

/* Galería */
.gallery {
  flex: 1; /* Ocupa espacio disponible para empujar el footer abajo */
  padding: 20px;
  max-width: 800px; /* Limita el ancho para que se vea ordenado */
  margin: auto; /* Centra la sección */
}

.gallery h2 {
  text-align: center;
  color: #3949ab; /* Azul vivo llamativo */
}
.contenedor-centrado {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: flex-start;
}

.contenedor-centrado h2 {
  text-align: center;
}

.contenedor-centrado img {
  width: 300px;
  border-radius: 10px;
}
/* Pie de página */
footer {
  background-color: #939ded; /* Azul claro brillante */
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: auto; /* Lo coloca al fondo */
}

